html {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(250,243,221,1) 30%, rgba(232,241,238,1) 68%);
}

.innerWrapper {
    max-width: 60%;
    margin: 0 auto;
}

header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1 {
    color: #3581B8;
    font-family: 'Faster One', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 25px 0;
}

i {
    color: #508991;
}

.outerWrapper {
    max-width: 75%;
    margin: 0 auto;
}

input {
    margin: 5px;
    width: 30%;
    border: transparent;
}

button {
    width: 20%;
    height: 25%;
    border: #3581B8;
    background-color: #3581B8;
    color: #FAF3DD;
}


::placeholder {
    text-align: center;
    color: darkgray;
    border: 1px solid #A2C4A4;
}